*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width:  100%;
    min-height: 100vh;
    background: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;

    padding: 24px 32px;

    /* overflow: scroll; */
    height: 100%;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
  
    background: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  
    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
  
    flex-shrink: 0;
}

.ingre {
    display: flex;
    justify-content: space-between;

    background-color: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  
    padding: 12px;
    border-radius: 4px;
  
    font-size: 16px;
    cursor: move;
}

.is-dragging {
    /* scale: 1.05; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    /* background: rgb(50, 50, 50); */
    color: black;
}

.input {
    width: 50px;
    align-items: center;
}

.sum {
    color: black;
    border-radius: 4px;
    font-size: 16px;
}

.display-box {
    display: flex;
    align-items: flex-start;
    justify-content: start;

    background-color: white;

    padding: 12px;
    border-radius: 4px;
  
}

.sum {
    width: 100px;
}