{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <script src="{% static 'js/home.js' %}" defer></script>

    <!-- <script src="{% static 'js/addmeal.js' %}" defer></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Tracker</title>
</head>
<body>
    <div class="title">
        {% if user.is_authenticated %}
        <h1>Welcome, {{user.username}}</h1>
        <a href="logout">Logout</a>
        {% else %} 
        <h1>Get started</h1>
        <a href="login">Login or signup</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="lanes">
            <div class="swim-lane" id="protein-lane">
                <h3>Protein</h3>
                {% for ingre in ingres %}
                {% if ingre.type == "Protein" %}
                <div id={{ingre.name}} class="ingre" draggable="true">
                    <p>{{ingre.name}}</p>
                    <input type="text" name="a" class="input" value="0">
                    <input type="hidden" name="b" class="calo" value={{ingre.calo}}>
                    <input type="hidden" name="c" class="carb" value={{ingre.carb}}>
                    <input type="hidden" name="d" class="fat" value={{ingre.fat}}>
                    <input type="hidden" name="e" class="protein" value={{ingre.protein}}>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="swim-lane" id="carb-lane">
                <h3>Carb</h3>
                {% for ingre in ingres %}
                {% if ingre.type == "Carb" %}
                <div id={{ingre.name}} class="ingre" draggable="true">
                    <p>{{ingre.name}}</p>
                    <input type="text" name="" class="input" value="0">
                    <input type="hidden" name="" class="calo" value={{ingre.calo}}>
                    <input type="hidden" name="" class="carb" value={{ingre.carb}}>
                    <input type="hidden" name="" class="fat" value={{ingre.fat}}>
                    <input type="hidden" name="" class="protein" value={{ingre.protein}}>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="swim-lane" id="meal-lane">
                <h3>Meal</h3>
                <form id="meal-form" method="POST">
                    {% csrf_token %}
                    <p>name</p>
                    <input type="text" name="username" id="username" value={{user.username}} required>
                    <p>date</p>
                    <input type="date" id="date" required/>
                    <p>type</p>
                    <input type="text" list="browsers" id="type" required>
                    <datalist id="browsers">
                        <option value="Breakfast">
                        <option value="Lunch">
                        <option value="Dinner">
                        <option value="Snack">
                    </datalist>
                    <p>calo</p>
                    <input class="sum" id="sum-calo" required></input>
                    <p>carb</p>
                    <input class="sum" id="sum-carb" required></input>
                    <p>fat</p>
                    <input class="sum" id="sum-fat" required></input>
                    <p>protein</p>
                    <input class="sum" id="sum-protein" required></input>
                    <input type="submit" id="add" value="add to meal"></input>
                </form>                

                <button type="button" id="clr">Clear</button>

            </div>

        </div>
    </div>
    <div>
        <div class="lanes">
            <h3>History</h3>
            {% for meal in meals%}
            {% if meal.user == user.username %}
            <div class="swim-lane">
                <p>Name: {{meal.user}}</p>
                <p>Date: {{meal.date}}</p>
                <p>Type: {{meal.type}}</p>
                <p>Calo: {{meal.calo}}</p>
                <p>Carb: {{meal.carb}}</p>
                <p>Fat: {{meal.fat}}</p>
                <p>Protein: {{meal.protein}}</p>
                <form action="delete" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="meal-id" value={{meal.id}}>
                    <input type="submit" value="delete">
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>