{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Login</h1>
            
            {% for message in messages %}
            <p style="color: red;">{{message}}</p>
            {% endfor %}

            <form method = "POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username" id="" required>
            
            <p>Password:</p>
            <input type="password" name="password" id="" required>
            <input type="submit">
            </form>
            <a href="register">Sign up</a>
        </div>
    </div>
</body>
</html>